Source: python-ooxml
Section: python
Priority: optional
Maintainer: Daniel James <daniel@64studio.com>
Build-Depends:
 debhelper (>= 8),
 dh-python,
 python-all (>= 2.7.3-4~),
 python-lxml,
 python-mock,
 python-setuptools,
 python-six,
 python-sphinx (>= 1.0.7+dfsg),
 python3-all,
 python3-lxml,
 python3-mock,
 python3-setuptools,
 python3-six,
 python3-sphinx
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.3
Standards-Version: 3.9.6
Homepage: https://github.com/booktype/python-ooxml
Vcs-Git: git://github.com/booktype/ooxml-packaging.git 
Vcs-Browser: https://github.com/booktype/ooxml-packaging

Package: python-ooxml
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends:
 python-lxml,
 python-six,
 ${python:Depends},
 ${misc:Depends}
Description: Python library for parsing .docx (Office Open XML) files
 Python-OOXML is a Python library for parsing .docx (Office Open XML) files. At
 the moment it only supports HTML as the output format.
 .
 Strong emphasis is put on easy customization of the output. The library comes
 with an importer which is capable of splitting a document into separate
 chapters. It works both with documents which use Word styles, and documents
 where they are not used.
 .
 Python-OOXML works with Python 2.7 and Python 3.3, this is the Python 2 
 version of the package.

Package: python3-ooxml
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends:
 python3-lxml,
 python3-six,
 ${python3:Depends},
 ${misc:Depends}
Description: Python 3 library for parsing .docx (Office Open XML) files
 Python-OOXML is a Python library for parsing .docx (Office Open XML) files. At
 the moment it only supports HTML as the output format.
 .
 Strong emphasis is put on easy customization of the output. The library comes
 with an importer which is capable of splitting a document into separate
 chapters. It works both with documents which use Word styles, and documents
 where they are not used.
 .
 Python-OOXML works with Python 2.7 and Python 3.3, this is the Python 3
 version of the package.
